<%= form_with model: @trip, class: "edit-trip" do |f| %>
  <p>Please enter the following infomation you would like to edit:</p>
  
  <%= f.label :driver_id %>
  <%= f.text_field :driver_id %>

  <%= f.label :driver_name %>
  <%= f.text_field :driver_name %>

  <%= f.label :date %>
  <%= f.text_field :date %>
 
  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>

   <%= f.label :passenger_name %>
  <%= f.text_field :passenger_name %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>
 
  <%= f.submit "Edit trip", class: "edit-button" %>
<% end %>
<p><%= link_to "List all task", trips_path %>