<%= form_with model: @trip, class: "edit-trip" do |f| %>
  <p>Please enter the following infomation you would like to edit:</p>
  

  <%= f.label :driver_name %>
  <%= f.select :driver_id, Driver.all.map { |driver| [driver.name, driver.id] } %>

  <%= f.label :date %>
  <%= f.text_field :date %>
 
  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>

   <%= f.label :passenger_name %>
  <%= f.select :passenger_id, Driver.all.map { |passenger| [passenger.name, passenger.id] } %>

  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>
 
  <%= f.submit "Edit trip", class: "edit-button" %>
<% end %>
