<h2>Show-Trip page </h2>
<p>Trip ID: <%= @trip.id %></p>
<p>Trip Date: <%= @trip.date %></p>
<p>Driver ID # <%= @trip.driver.id %></p>
<p>Driver Name: <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></p>
<p>Rating:<%= @trip.rating %><p>
<p> Cost: <%= @trip.cost %><p>
<p>Passenger ID: <%= @trip.passenger.id %></p>
<p>Passenger Name: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></p>

<%= link_to "Edit trip", edit_trip_path(@trip.id) %>
