<h2>New Driver Page</h2>

<%= form_with model: @driver, class: "driver-form" do |f| %>
<p>Please provide the following information to save a new
driver to the database</p>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :vin %>
<%= f.text_field :vin %>

<%= f.label :car_make %>
<%= f.text_field :car_make %>

<%= f.label :car_model %>
<%= f.text_field :car_model %>

<%= f.submit "Create", class: "driver-button" %>
<% end %>